{include file="public::header"}

<body>
<div class="container">
    <div class="row">
        {include file="public::nav"}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>User Registration</h2>
            </div>
            <form class="form-horizontal" onsubmit="return false;">
                <div class="panel panel-default">
                    <div class="panel-heading">Registration</div>
                    <div class="panel-body">

                <fieldset id="regi">
                <div class="form-group">
                    <label for="member" class="col-sm-2 control-label">Member Id</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control vfield" id="member" name="member" value="{$user.member}">
                    </div>
                    <div class="col-sm-3 tip"></div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="title" name="title">
                            {eq name="user.title" value="Mr."}
                            <option value="Mr." selected>Mr.</option>
                            {else/}
                            <option value="Mr.">Mr.</option>
                            {/eq}
                            {eq name="user.title" value="Ms."}
                            <option value="Ms." selected>Ms.</option>
                            {else/}
                            <option value="Ms.">Ms.</option>
                            {/eq}
                            {eq name="user.title" value="Dr."}
                            <option value="Dr." selected>Dr.</option>
                            {else/}
                            <option value="Dr.">Dr.</option>
                            {/eq}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="f_name" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control vname" id="f_name" name="f_name" value="{$user.f_name}">
                    </div>
                    <label for="l_name" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control vname" id="l_name" name="l_name" value="{$user.l_name}">
                    </div>
                    <div class="col-sm-3 tip"></div>
                </div>
                <div class="form-group">
                    <label for="company" class="col-sm-2 control-label">Company</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control vfield" id="company" name="company" value="{$user.company}">
                    </div>
                    <div class="col-sm-3 tip"></div>
                </div>
                <div class="form-group">
                    <label for="position" class="col-sm-2 control-label">Position</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="position" name="position" value="{$user.position}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control vfield" id="email" name="email" value="{$user.email}">
                    </div>
                    <div class="col-sm-3 tip"></div>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-sm-2 control-label">Mobile Phone Number</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control vfield" id="mobile" name="mobile" value="{$user.mobile}">
                    </div>
                    <div class="col-sm-3 tip"></div>
                </div>
                <div class="form-group">
                    <label for="amount" class="col-sm-2 control-label">Amount of Tickets Ordered</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="amount" name="amount">
                            {eq name="user.amount" value="2"}
                            <option value=2 selected>2</option>
                            {else/}
                            <option value=2>2</option>
                            {/eq}
                            {eq name="user.amount" value="4"}
                            <option value=4 selected>4</option>
                            {else/}
                            <option value=4>4</option>
                            {/eq}
                            {eq name="user.amount" value="6"}
                            <option value=6 selected>6</option>
                            {else/}
                            <option value=6>6</option>
                            {/eq}
                            {eq name="user.amount" value="8"}
                            <option value=8 selected>8</option>
                            {else/}
                            <option value=8>8</option>
                            {/eq}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label  class="col-sm-2 control-label">Menu</label>
                    <div class="col-sm-6">
                        <label class="radio-inline">
                            {eq name="user.menu" value="vegetarian"}
                            <input type="radio" name="menu" id="vegetarian" value="vegetarian" checked> Vegetarian
                            {else/}
                            <input type="radio" name="menu" id="vegetarian" value="vegetarian"> Vegetarian
                            {/eq}
                        </label>
                        <label class="radio-inline">
                            {eq name="user.menu" value="normal"}
                            <input type="radio" name="menu" id="normal" value="normal" checked > Normal
                            {else/}
                            <input type="radio" name="menu" id="normal" value="normal"> Normal
                            {/eq}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">Remarks</label>
                    <div class="col-sm-6">
                        <textarea rows="3" cols="75" >{$user.remarks}</textarea>
                    </div>
                </div>
                </fieldset>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Payment</div>
                    <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label for="address_tk" class="col-sm-2 control-label">Ticket Mailing Address</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control vfield" id="address_tk" name="address_tickets" value="{$user.address_tickets}">
                        </div>
                        <div class="col-sm-3 tip"></div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Do you need invoice?</label>
                        <div class="col-sm-6">

                                <div class="switch"  id="invoice">
                                    {eq name="user.fapiao_need" value="1"}
                                    <input id="fapiao_need" name="fapiao_need" type="checkbox" value=1 checked="checked" />
                                    {else/}
                                    <input id="fapiao_need" name="fapiao_need" type="checkbox" value=0  />
                                    {/eq}
                                </div>

                        </div>
                    </div>
                    <div id="paymentInfo">
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Invoice Type</label>
                        <div class="col-sm-6">
                            <label class="radio-inline">
                                {eq name="user.fapiao_type" value="E-Invoice"}
                                <input type="radio" name="fapiao_type" id="iv_ele" value="E-Invoice" checked> E-Invoice
                                {else/}
                                <input type="radio" name="fapiao_type" id="iv_ele" value="E-Invoice"> E-Invoice
                                {/eq}
                            </label>
                            <label class="radio-inline">
                                {eq name="user.fapiao_type" value="Paper"}
                                <input type="radio" name="fapiao_type" id="iv_ele" value="Paper" checked> Paper
                                {else/}
                                <input type="radio" name="fapiao_type" id="iv_ele" value="Paper"> Paper
                                {/eq}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="iv_title" class="col-sm-2 control-label">Invoice Title</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control vfield" id="iv_title" name="title_fapiao" value="{$user.title_fapiao}">
                        </div>
                        <div class="col-sm-3 tip"></div>
                    </div>
                    <div class="form-group">
                        <label for="tax_num" class="col-sm-2 control-label">Tax Number</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control vfield" id="tax_num" name="taxnumber" value="{$user.taxnumber}">
                        </div>
                        <div class="col-sm-3 tip"></div>
                    </div>
                    <div class="form-group">
                        <label for="address_iv" class="col-sm-2 control-label">Invoice Mailing Address</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control vfield" id="address_iv" name="address_fapiao" value="{$user.address_fapiao}">
                        </div>
                    </div>
                    </div>
                </fieldset>
                        </div>

            </div>

                <div class="form-group">
                    <div class="col-sm-offset-10 col-sm-6">
                        <a class="btn btn-default" id="back" href="#">Cancel</a>
                        <button class="btn btn-primary" id="send">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#send').click(function () {
        var err=0;
        $('.tip').each(function () {
            if($(this).find('span').html()!=undefined){
                err+=1;
            }
        })
        if(err>0){
            alert('Form content is not complete ')
            return false;
        }
        data=$('form').serialize();
        $.ajax({
            type: 'post',
            url: "{:url('update',['id'=>$user['Id']])}",
            data: data,
            dataType: 'json',
            success: function (data) {
                if (data.status !== 1) {
                    alert(data.message);
                } else {
                    alert(data.message);
                    window.history.back();
                }

            }
        });
    })
</script>
</body>
{include file="public::footer"}

